<body class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form>
            <h1>Login Form</h1>
            <div>
              <input id="username_login" type="text" class="form-control" placeholder="Username" required="required" />
            </div>
            <div>
              <input id="password_login" type="password" class="form-control" placeholder="Password" required="required" />
            </div>
            <div>
              <a class="btn btn-default submit" id="login_button" href="">Log in</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Shared Future</h1>
              </div>
            </div>
          </form>
        </section>
      </div>

      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form>
            <h1>Create Account</h1>
            <div>
              <input id="username_signup" type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div>
              <input id="email_signup" type="email" class="form-control" placeholder="Email" required="" />
            </div>
            <div>
              <input id="password_signup" type="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div>
              <a class="btn btn-default submit" id="signup_button" href="">Submit</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Shared Future </h1>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>

<!-- Js for accessPage.html -->
<script type="text/javascript" src="assets/default/js/accessPage.js"></script>